.container {
    width: 100%;
    height: 100vh;
    margin-top: 80px;
    background-color: #0e0030;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

}

.card {
    width: 30%;
    max-height: 40%;
    height: 40%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: white;
    color: black;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.8);
    transition: 0.3s;
    overflow: hidden;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.2);
}

.card img {
    width: 100%;
    height: 150px;
    text-align: center;
    background: cover;
}

.cardContainer {
    padding: 2px 16px;
}

.cardContainer h4 {
    margin: 0;
    padding-top: 8px;
    margin-top: -5%;
    text-align: center;
}

.cardContainer p {
    position: relative;
    height: 0;
    padding-bottom: 23%;
}

.cardContainer a {
    position: fixed;
    width: 100;
    height: auto;
    
}

.cardContainer button {
    position: fixed;
    height: auto;
    cursor: pointer;
    
    background-color: rgb(239, 233, 233);
    border: 1px solid rgb(239, 233, 233);
    border-radius: 10px;
    font-weight: bold;
    white-space: normal;
    padding: 0.75rem 0.75rem;
    margin: 0.5rem;
    text-align: center;
    align-items: center;
    font-size: 10px;
}

