.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 100vh;
    margin-top: 80px;
    background-color: #0e0030;
    color: white;
    position:fixed;
    z-index: 1;
}

.greet {
    /* display: flex;
    flex-direction: column; */
    width: 50%;
    margin-top: 10%;
    font-size: 1.7vw;
    margin-left: 20%;
}

.introduce {
    /* display: flex;
    flex-direction: column; */
    /* justify-content: right; */
    font-size: 1.5vw;
    width: 50%;
    margin-top: 10%;
    margin-right: 20%;
}

.social {
    position: fixed;
    background-color: white;
    height: 100vh;
    width: 160px;
    z-index: -1;
    top: 20em;
    left: 0;
    overflow-x: hidden;
    overflow: hidden;
    margin: 0;
}

.social ul {
    width: auto;
    height: auto;
}

.social a {
    color: rgb(255, 255, 255);
    font-size: 16px;
}

.social svg {
    width: 20px;
}