.container {
    background-color: #0e0030;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5rem;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 35px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    z-index: 100;

}

.container img {
    width: 110px;
}

.list {
    display: block;
    position: relative;
    width: 100%;
    margin-right: 5%;
}

.list li {
    color: white;
    margin-left: 25px;
    margin-top: 4px;
    font-size: 18px;
    float: right;
}

.list a {
    color: white;
}

.list a :active {
    color: #c2601a;
}


.list li :hover {
    color: #c2601a;
    cursor: pointer;
}

.hamburger {
    display: none;
}

@media screen and (min-width: 600px) {
    .mobile {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .list {
        display: none;
    }

    .hamburger {
        display: flex;

    }

    .mobile {
        display: block;
        position: relative;
    }

    .mobile a {
        color: white;
    }

    .mobile li {
        margin-left: 25px;
        margin-top: 4px;
        font-size: 4vw;
        float: left;
    }

    .hamburger svg {
        margin: 0 20rem 0 0;
        width: 30px;
        height: 30px;
    }

    .logo {
        display: none;
    }
}